<h1>Editing Micropost</h1>

<%= render 'form', micropost: @micropost %>

<%= link_to 'Show', user_micropost_path(params[:user_id], params[:id]) %> |
<%= link_to 'Back', user_microposts_path(params[:user_id]) %>
